
.dashboardPage {
  background-color: #f4f4f4;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.row {
    display: flex;
    max-width: 64vw;
}

.headerImg {
    max-width: 67vw;
}

.dashboardHorses {
    width: 67vw;
}

.dashHorses {
    margin-left: 10px;
    margin-top: 10px;
}

.card-columns {
    display: inline-block;
    max-width: 64vw;
}

.card {
    max-width: 64vw;
}

.currentDay {
    margin-top: 6vh;
    margin-left: 10px;
    color: #1c1c1c;
    position: absolute;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/* .dashCards {
    margin-top: 6vh;
} */

/* .dashboardHorses {
    margin-top: 70px;
} */

#content {
    width: 67vw;  
    transition: all 0.3s;
    white-space: pre-line;
}

.currentPgHeader {
    background-color: #7ba6a4;
    height: 60px;
    color: #f4f4f4;
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
    letter-spacing: 2px;
    padding: 5px;
    padding-left: 20px;
    padding-top: 12px;
    width: 67vw;
}