.loginBtn {
	box-shadow: 0px 0px 2px 2px #e7cfb5;
	background-color:transparent;
	border-radius:20px;
	border:1px solid #525252;
	display:inline-block;
	cursor:pointer;
	color:#fbe5ce;
	font-size:18px;
	padding:2px 70px;
	text-decoration:none;
    margin-top: 250px;
    font-family: 'Manrope', sans-serif;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
}
.loginBtn:hover {
	background-color:transparent;
}
.loginBtn:active {
	position:relative;
	top:1px;
}

.logoutBtn {
	border: none;
    background: #1f2628;
	color: #7b979f;
	font-size: 15px;
	margin-left: 55px;
	margin-top: 3px;
}