.loginBtn {
	box-shadow: 1px 0px 3px 3px #e7cfb5;
	background-color:transparent;
	border-radius:20px;
	border:1px solid #525252;
	display:inline-block;
	cursor:pointer;
	color:#fbe5ce;
	font-size:22px;
	padding:2px 70px;
	text-decoration:none;
    margin-top: 550px;
    font-family: 'Manrope', sans-serif;
}
.loginBtn:hover {
	background-color:transparent;
}
.loginBtn:active {
	position:relative;
	top:1px;
}