.sticky {
    background: white;
    position: fixed;
    top: 0;
    right: 0;
}

.volbar {
    min-width: 20.1vw;
    max-width: 20vw;
    background: #f8f8f8;
    color: #29425f;
    transition: all 0.3s;
    min-height: 100vh;
    text-align: center;
}

.volbar.active {
    margin-left: -250px;
}

.volbar .volbarHeader {
    padding: 20px;
    background: #1f2628;
}

.volbar ul.components {
    padding: 0;
}

.volunteerNavHead {
    font-size: 25px;
    background-color: #374953;
    color: #dddddd;
    width: 100%;
    min-height: 9vh;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    letter-spacing: 2px;
    line-height: 24px;
}

.horseshoeLogo {
    max-height: 45px;
    padding: 10px;
}

.volunteerDirectoryLink {
    background-color: #e4cfcf;
    height: 6vh;
    color: #1f2628;
    padding-top: 11px;
    margin-top: -18px;
}

.volunteerCalendarLink {
    background-color: #c7d5d3;
    height: 6vh;
    color: #1f2628;
    padding-top: 11px;
    margin-top: -18px;
}

.volunteerList {
    text-align: left;
}

.volicon {
    max-width: 75px;
}